@media screen and (max-width: 1320px) {
    .burger{
        display: flex;
    }

    .nav{
        display: none;
    }

    .banner--content{
        width: 100%;
    }

    .banner--title{
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
    }

    .banner--descr{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .title{
        font-weight: 400;
        font-size: 48px;
        line-height: 59px;
    }
}