body, h1, h2, h3, h4, h5, h6, a, ul, li, div{
    margin: 0;
    padding: 0;
    color: #333333;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*==========================*/

.frame{
    margin: 0 auto;
    max-width: 1770px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.btn{
    display: block;
    font-weight: 700;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    color: #FFFFFF;
    padding: 25px;
    background: #FF9900;
    border-radius: 16px;
}

.transparent{
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 16px;
}

.title{
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.descript{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

/*=========================*/

.header{
    max-height: 100px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 32px 32px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--list{
    display: flex;
    gap: 85px;
    margin: 0 auto;
}

/*=================*/

.banner{
    margin-top: 50px;
    position: relative;
}

.banner--content{
    margin: 100px 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 840px;
}

.banner--title{
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.banner--descriptor{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
}

.banner--btn{
    margin-top: 65px;
    width: 202px;
    height: 28px;
}

.banner--img{
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    border-radius: 32px;
}

/*=======*/

.about--descriptor{
    max-width: 1235px;
}

.about--banner{
    display: grid;
    grid-template-areas: "A B" "A C";
    gap: 32px;
}

.about--banner--descript{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.about--banner--btn{
    background-color: transparent;
    border: 3px solid #FF9900;
}

.about--cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about--card{
    border: 1px solid #CACACA;
    border-radius: 32px;
    padding: 60px;
    display: flex;
    gap: 50px;
}

.card--info{
    gap: 8px;
}

.card-1{
    grid-area: A;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    background-image: url("./img/about-img.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-2{
    grid-area: B;
}
.card-3{
    grid-area: C;
}

.shadow{
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.about--banner--descript{
    margin: 50px;
}

.about--banner--btn{
    margin: 50px;
}

.card--title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.card--descriptor{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

/*======================*/

.slider--buttons{
    display: flex;
    gap: 85px;
    margin: 45px 0;
}

.slider--btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.hiw--banner{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}


