html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------------*/

a{
  text-decoration: none;
}

body{
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

:root{
  --black: #000;
  --white: #fff;
  --main: #CC9933;
  --active: #A47312;
}

/*-----------------------*/
@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url(2DF5B4_F_0.woff2) format("woff2"),url("./fonts/MullerRegular.woff") format("woff")
}

.main{
  padding: 30px;
  background: #f1f1f1;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.header{
  max-height: 185px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-title{
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 20px;
  margin-left: 40px;
}

.card-descriptor{
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
}

.upper-head{
  display: flex;
  align-items: center;
  gap: 40px;
}

.login-btn{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main);
  padding: 5px;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.login-btn:hover{
  color: var(--main);
}

.login-btn:focus{
  color: var(--main);
  border: 1px solid var(--main);
  border-radius: 5px;
}

.login-btn:active{
  color: var(--active);
}

.login-btn-arrow{
  margin-right: 7px;
}

.phone-number{
  color: #666666;
  margin-right: auto;
  transition: color 0.3s ease-in-out;
}

.phone-number:hover{
  color: var(--main);
}

.phone-number:focus{
  color: var(--main);
  border: 1px solid var(--main);
  border-radius: 5px;
  padding: 3px;
}

.phone-number:active{
  color: var(--active);
}

.bottom-head{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70px;
  background: var(--white);
  border-radius: 15px;
  gap: 70px;
}

.nav-list{
  display: flex;
  gap: 45px;
  padding: 10px 45px;
  justify-content: center;
  align-items: center;
}

.nav-item{

}

.nav-links{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  text-decoration: none;
  padding: 5px;

  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav-links:hover{
  color: var(--main);
}

.nav-links:focus{
  color: var(--main);
  border: 1px solid var(--main);
  border-radius: 5px;
}

.nav-links:active{
  color: var(--active);
}

.btn{
  padding: 13px 20px;
  border: 1px solid var(--main);
  border-radius: 10px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main);
  background-color: var(--white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:hover{
  background-color: var(--main);
  color: var(--white);
}

.btn:focus{
  background-color: var(--main);
  color: var(--white);
}

.btn:active{
  background-color: var(--main);
  color: var(--white);
}

.banner-cards{
  width: 100%;
  display: grid;
  gap: 24px;
  justify-items: center;
  grid-template-areas:"a c""b c";
  list-style: none;
}

.banner-card-item{
  min-width: 573px;
  min-height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.ban-1{
  grid-area: a;
  background: url("./img/advant-pict-1.png");
  background-repeat: no-repeat;
}

.ban-2{
  grid-area: b;
  background: url("./img/advant-pict-2.png");
  background-repeat: no-repeat;
}

.ban-3{
  grid-area: c;
  background: url("./img/advant-pict-3.png");
  background-repeat: no-repeat;
}

.banner-card-content{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.big-banner{
  margin-top: 160px;
}

.banner-card-title{
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white);
}

.big-banner-text{
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white);
}

.banner-card-title::last-child{
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white);
}

.banner-card-descriptor{
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  opacity: 0.8;
}

.banner-card-links{
  display: flex;
  align-items: center;
  margin-top: 45px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main);
  /*background-image: url("./img/Rect-2.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: 92px;*/
  transition: color 0.3s ease-in-out;
}

.banner-card-links-arrow{
  padding-left: 5px;
  transition:  padding-left 0.3s ease-in-out;
}

.banner-card-item:hover .banner-card-content .banner-card-links .banner-card-links-arrow{
  padding-left: 15px;
}

.banner-card-item:active .banner-card-content .banner-card-links{
  color: var(--white);
}

.banner-card-descriptor{
  margin-bottom: auto;
}

.about-content{
  max-width: 888px;
  padding: 0;
}

.services-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.services-list-item{
  flex-basis: 49%;
  min-height: 330px;
  background-color: var(--white);
  border-radius: 15px;
}

.services-card-title{
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-left: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--main);
  gap: 5px;
  transition: color 0.3s ease-in-out, gap 0.3s ease-in-out;
}

.services-card-descriptor{
  margin-left: 45px;
  max-width: 400px;
}

.services-title-arrow{
  stroke: #var(--main);
  transition: stroke 0.3s ease-in-out;
}

.services-list-item:hover .services-card-title{
  gap: 15px;
  color: #F0BF5F;
}

.services-list-item:hover .services-card-title .services-title-arrow{
  stroke: #F0BF5F;
}

.services-list-item:active .services-card-title{
  color: var(--active);
}

.advant-list{
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 1fr 1fr;
  gap: 22px;
}

.advant-item{
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 24%;
  /*min-height: 276px;*/
  background: var(--white);
  border-radius: 15px;
}

.card-descriptor{
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
}

.placement-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.placement-item{
  flex-basis: 33%;
  background-color: var(--white);
  border-radius: 15px;
}

.placement-img{
  width: 100%;
  max-height: 217px;
}

.card-content{
  padding: 45px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.grey-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.text{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.place-price-item{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
}

.place-card-title{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.place-card-btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  gap: 10px;
}

.star-rate{
  display: flex;
  justify-content: space-between;
  gap: 52px;
}

.last-placement-item{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("./img/place-last.png");
}

.placement-showall{
  margin: 25px 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white);
}

/*.placement-showall::after{*/
/*  padding-top: 3px;*/
/*  content: url("./img/Rectangle-3.svg");*/
/*}*/

.placement-showall-arrow{

  padding-left: 5px;
  transition: padding-left 0.4s ease-in-out;
}

.showall{
  display: flex;
  align-items: center;
  color: var(--white);
}

.placement-showall::before{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
}

.placement-item:hover .placement-showall .placement-showall-arrow{
  padding-left: 10px;
}

placement-item:active{
}

.invite{
  background-color: #E9E9E9;
  border-radius: 15px;
}

.invite-title{
  margin-top: 40px;
  margin-left: 45px;
}

.invite-banner{
  background: var(--white);
  border-radius: 15px;
  margin: 45px;
}

.invite-form-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
  padding: 30px;
}

.invite-form-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  flex-basis: 120px;
  gap: 15px;
}

.invite-form-label{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.form-select{
  text-decoration: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /*background-image: url("./img/Rectangle_2.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: right;*/
}

.form-date{
  text-decoration: none;
  border: none;
}

.form-amount{
  text-decoration: none;
  border: none;
}
.contacts-banner{
  background: var(--white);
  border-radius: 15px;
  padding: 45px;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.info-list{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-item {
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}

.info-item:last-child{
  padding: 0;
  border-bottom: none;
  grid-template-columns: 1fr 1fr;
}

.info-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.information{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.phone-number{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.mail{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}


.mail:hover{

  color: var(--main);
}

.mail:focus{
  color: var(--main);
  padding: 3px;
  border: 1px solid var(--main);
  border-radius: 5px;
}

.mail:active{
  color: var(--active);
}

.info-btn{
  margin-top: 50px;
  padding: 27px;
}

.footer{
  display: flex;
  gap: 125px;
  background: #333333;
  border-radius: 15px;
  padding: 45px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white);

  background-image: url("./img/Sun.svg");
  background-repeat: no-repeat;
  background-position: bottom right 150px;
}

.rules{
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rules-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.footer-contacts{
  display: flex;
  flex-direction: column;
}

.adress{
  margin-bottom: 15px;
}



.phone-numbers{
  margin-bottom: 15px;
}

.social{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.favicon{
  position: fixed;
  bottom: 50px;
  right: 50px;
}