html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-----------------------*/

a{
  text-decoration: none;
}

body{
  font-family: Muller;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}


/*-----------------------*/
@font-face {
  font-weight: 400;
  font-family: "Muller";
  font-style: normal;
  src: url(2DF5B4_F_0.woff2) format("woff2"),url("./fonts/MullerRegular.woff") format("woff")
}

.main{
  padding: 30px;
  background: #E5E5E5;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.header{
  max-height: 185px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-title{
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 20px;
}

.card-descriptor{
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.upper-head{
  display: flex;
  align-items: center;
  gap: 40px;
}

.login-btn{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.login-btn:before{
  content: url("./img/vector.svg");
  margin-right: 7px;
}

.phone-number{
  margin-right: auto;
}

.bottom-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 70px;
  background: #FFFFFF;
  border-radius: 15px;
}

.nav{
  margim: 25px 45px;
}

.nav-list{
  display: flex;
  gap: 45px;
}

.banner-cards{
  width: 100%;
  display: grid;
  gap: 24px;
  justify-items: center;
  grid-template-areas:"a c""b c";
  list-style: none;
}

.banner-card-item{
  min-width: 573px;
  min-height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.ban-1{
  grid-area: a;
  background: url("./img/advant-pict-1.png");
}

.ban-2{
  grid-area: b;
  background: url("./img/advant-pict-2.png");
}

.ban-3{
  grid-area: c;
  background: url("./img/advant-pict-3.png");
}

.banner-card-content{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.big-banner{
  margin-top: 160px;
}

.banner-card-title{
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.banner-card-title::last-child{
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.banner-card-descriptor{
  margin-top: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.banner-card-links{
  margin-top: 45px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  background-image: url("./img/Rect-2.svg");
  background-repeat: no-repeat;
  background-position-x: 92px;
}

.banner-card-descriptor{
  margin-bottom: auto;
}

.about-content{
  max-width: 888px;
  padding: 0;
}

.services-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.services-list-item{
  max-width: 573px;
  min-height: 330px;
  background-color: white;
  border-radius: 15px;
}

.services-card-title{
  margin-top: 26px;
  margin-left: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.services-card-descriptor{
  margin-left: 45px;
  max-width: 400px;
}


